@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
  height: 100%;
  width: 100%;
}

.button {
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row {
  margin: 8px 0;
}

.row input {
  font-size: large;
  margin: 6px;
  padding: 10px 34px;
  border: 2px solid black;
  border-radius: 9px;
}


